.master-container {
  margin: 2rem auto 0;
  display: flex;
  position: relative;
  flex-direction: column;
}
.div-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  height: 100%;
  min-height: 200px;
  /* border: 1px solid gray; */
  border-radius: 4px;
  box-shadow: 3px 3px 5px rgba(57, 55, 178, 0.272);
  /* background-color: aqua; */
}
.container-title {
  padding: 5px 25px;
  background-color: var(--backColor);
  color: var(--frontColor);
  font-size: 1.6rem;
}
.container-div {
  display: flex;
  position: relative;
  border-radius: 3px;
  width: 50%;
  height: auto;
  cursor: pointer;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}
.container-img {
  border-radius: 3px;
  width: 100%;
  height: 150px;
  cursor: pointer;
  object-fit: cover;
  transition: all 300ms ease-in-out;
}
.container-p {
  background-color: rgba(240, 248, 255, 0.4);
  color: black;
  position: absolute;
  bottom: -30px;
  display: flex;
  width: 100%;
  font-size: 1.4rem;
  justify-content: center;
  transition: ease 300ms;
}
.container-img:hover {
  transform: scale(1.08);
  box-shadow: 2px 2px 15px silver;
}
.btn-voltar {
  color: rgb(151, 151, 151);
  text-decoration: none;
  cursor: pointer;
  display: block;
  position: relative;
  text-align: center;
  padding: 10px 15px;
}
.col-video{
  display:flex;
  position:relative;
  width:50%;
  align-items: flex-start;
  min-width: 310px;
  max-width: 400px;
  justify-content: center;
  padding: 1rem;
}
.col-video video{
  width:100%;
}
.col-info{
  display:inline-block;
  position:relative;
  color: silver;
  padding: 1rem;
}
.col-info h3{
  font-size: 25px;
  margin: 0 auto .8rem;
}
.col-info p{
  font-size: 20px;
  margin: 0 auto .8rem;
}
.btn-voltar:visited {
  color: rgb(151, 151, 151);
}
.under{
  width:200px;
  max-width: 400px;
  margin: 2rem auto;
}


@media (max-width: 499px) {
  .col-video {
    width:98%;
  }
}
@media (min-width: 500px) {
  .container-div {
    width: 33%;
    height: auto;
  }
}

@media (min-width: 1000px) {
  .div-container{
    flex-wrap: nowrap;
  }
  .container-div {
    flex-wrap: nowrap;
    width: 20%;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .container-div {
    width: 200px;
    height: auto;
  }
}
