.title{
  display:flex;
  position:absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 140px;
  width:100%
}
.bemvindo{
  flex-wrap: nowrap;
  position:absolute;
  display:flex;
  color:rgb(228, 223, 223);
  z-index: 10;
}
.bemvindo h1{
  position:relative;
  display:flex;
  text-shadow: rgb(69, 63, 63) 3px 3px;
}
.title h3{
  display:block;
  position:absolute;
  bottom:30px;
  font-size: 19px;
  color:white;
}
.bemvindo h3{
  position:relative;
  display:flex;
  text-shadow: rgb(214, 199, 199) 3px 3px;
}
@media (max-width: 500px) {
  .title{
    display:flex;
    flex-direction: column;
    position:absolute;
    top:200;
    flex-wrap: nowrap;
  }
  .bemvindo{
    margin: 1rem auto;
    font-size: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}