.rodape{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 15px;
  line-height: 1.5rem;
  font-size: .8rem;
  background-image: linear-gradient(rgb(35, 36, 38), rgba(245, 245, 237, 0.105)), url("./img/pulseiras.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  color: rgb(186, 184, 193);
  align-items: center;
}
.rodape .whats-div {
  font-weight: 100;
  display:flex;
  align-items: center;
  gap: 5px;
  width:325px;
  padding: 10px 0;
}
.rodape #whats-icon{
  position:relative;
  display:flex;
  width:25px;
}
.rodape #whats-number{
  font-size: 1.5rem;
  color: rgb(186, 184, 193);
  flex-direction: row;
}
.rodape #whats-number a{
  text-decoration: none;
  color:rgb(186, 184, 193)
}

#left{
  display:block;
  position:relative;
  width:50%;
  height:100%;
}
#right{
  display:block;
  position:relative;
  width:50%;
  height:100%;
  bottom:0px;
}
#urzzomidia-h3{
  font-size: 20px;
  display:block;
  position:relative;
  text-align: right;
  color:rgb(202, 201, 210);
  height:100%;
}
#urzzomidia-h4{
  font-size: 16px;
  display:block;
  position:relative;
  text-align: right;
  color:rgb(199, 197, 209);
  height:100%;

}
@media (max-width:600px){
  .rodape{
    flex-direction: column;
  }
  .left, .right{
    width: 96%;
  }
  #left, #right{
    width:100%;
    margin-top: 1.4rem;
  }
  #urzzomidia-h3, #urzzomidia-h4{
    width:100%;
    text-align: center;
  }
}